<template>
  <div>
    <video preload="auto" @play="handle" @pause="handle" @seeking="handle"
    v-play="playing" :currentTime.prop="time" controls loop muted
    src="/video.mp4"></video>
  </div>
</template>

<script>
const { log } = console
export default {
  data() {
    return {
      playing: false,
      time: 0,
    }
  },
  sockets: {
    message: function (data) {
      this.time = data.time
      this.playing = data.playing
    }
  },
  methods: {
    handle: debounce(function(e) {
      const toggled = this.playing === e.target.paused
      const seeked = this.time !== e.target.currentTime

      if (e.type === 'seeking') {
        if (!this.playing && seeked) this.sync(e)
      } else {
        if(this.playing || toggled) this.sync(e)
      }
    }, 50),
    sync(e) {
      log('sync', e.type)
      this.time = e.target.currentTime
      this.playing = !e.target.paused
      this.$socket.emit('message', {
        playing: this.playing,
        time: this.time,
      })
    },
  },
  directives: {
    play: {
      bind(el, binding, vnode) {
        const state = () => { vnode.context.playing = !el.paused }
        el.addEventListener('playing', () => state) //
        el.addEventListener('pause', () => state)
        state()
      },
      update(el, binding) {
        if (el.paused) {
          if (binding.value) el.play()
        } else if (!binding.value) {
          el.pause()
        }
      },
    },
  },
}
function debounce(fn, delay) { // eslint-disable-line
  var timeoutID = null
  return function() {
    clearTimeout(timeoutID)
    var args = arguments
    var that = this
    timeoutID = setTimeout(function() {
      fn.apply(that, args)
    }, delay)
  }
}
</script>

<style>
  video {
    width: 80%;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate3d(-50%,-50%,0)
  }
</style>
